.grid-item {
  width: 400px;
  border: 1px solid gray;
}

.grid-item img{
  width: 100%
}

.grid-item iframe{
  width: 100%
}

.imagePreview {
  height: 300px;
  border: 1px solid gray
}

.imagePreview img {
  height: 100%;
}

.imagePreview iframe {
  height: 100%;
}
