body {
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background-attachment: fixed
}

.grid-item {
  margin-bottom: 30px;
}
.grid-item img{
  width: 100%
}

.grid-item iframe{
  width: 100%
}

.imagePreview {
  height: 300px;
  border: 1px solid gray
}

.imagePreview img {
  height: 100%;
}

.imagePreview iframe {
  height: 100%;
}

.ui.secondary.inverted.pointing.menu {
  border-width: 0px;
}
